# python
__pycache__
*.py[cod]
# binary blobs
*.nc
*.nc4
*.grib
*.grib2
*.h5
*.hdf
*.hdf5

# mypy
.mypy_cache/

# vscode
.vscode

# os
.directory
.DS_Store

# virtualenv
.venv/
.env/
venv/
env/

# temporary data/directory
data/*.csv
tmp_dir
project/

#notebooks
.ipynb_checkpoints/

#build files 
*.egg-info/
build/
dist/

#ide
.idea/
.vscode