# python
__pycache__
*.py[cod]

# binary blobs
*.nc
*.nc4
*.grib
*.grib2

# mypy
.mypy_cache/
.vscode

# os
.directory
.DS_Store

# virtualenv
.venv/
.env/
venv/
env/

# temporary data/directory
data/*.csv
tmp_dir

#notebooks
.ipynb_checkpoints/
